@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.carousel-card h3, .carousel-card p,  .carousel-card a {
  font-family: 'Lexend', sans-serif;
}

.carousel-card h3 {
  font-size: 1.2em;
  margin: 10px;
}

.carousel-card p {
  margin: 10px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.carousel-track-container {
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  transition: transform 250ms ease-in;
}

.carousel-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px; /* Adds space between the image and the title */
  border-radius: 10px;

}

.carousel-card {
  width: 80%;
  flex-shrink: 0;
  box-sizing: border-box;
  background: #d19b75;
  border-radius: 10px;
  margin: 0 10px; /* Creates space between cards */
  text-align: center;
  padding-bottom: 15px
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.carousel-button--left {
  left: -20px;
}

.carousel-button--right {
  right: -20px;
}

.is-hidden {
  display: none;
}
